<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ice_cream_dealership_management.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Ice_cream_dealership_management.My.MySettings.dataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\data.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Ice_cream_dealership_management.My.MySettings>
            <setting name="volu" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="datebackup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autobackup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="backupInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="currentac" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="epin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="clientID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="clientsecret" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mail_to" serializeAs="String">
                <value />
            </setting>
            <setting name="mail_from" serializeAs="String">
                <value />
            </setting>
            <setting name="mail_pass" serializeAs="String">
                <value />
            </setting>
        </Ice_cream_dealership_management.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>